**/bin/
**/obj/
**/out/
**/publish/
**/logs/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.idea/
.vs/
.vscode/

packages/
*.nupkg

TestResults/
*.trx

**/Properties/PublishProfiles/*.pubxml
**/Properties/PublishProfiles/*.pubxml.user

appsettings.Production.json
*.secrets.json

**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

**/dist/
**/dist-ssr/
**/*.local

.env
.env.local
.env.*.local

**/.DS_Store
**/Thumbs.db